new_passwords:
  host1: 'host1newpass'
  host2: 'host2newpass'
  default: 'defaultpassword'

new_password: "{{ new_passwords[inventory_hostname] | password_hash('sha512', salt) | default(new_passwords.default | password_hash('sha512', salt)) }}"